@{
    ViewBag.Title = "Index";
}

<h2>Загрузка картинок</h2>


<form action="/files/upload" enctype="multipart/form-data" method="post">
   <label>Загрузка картинок:</label>
   <input accept="image/*" id="File1" multiple="multiple" name="File1" type="file" />
   <input id="btnUpload" type="submit" value="Отправить" />
</form>